<p class="title-top-md-2">Electronics Warehouse API</p>

<div class="container">
    <div class="form-row">

        <div class="rounded-div" style="font-size: medium; height: 470px; width: 260px">
            <div class="panel panel-default">
                <div class="panel-heading div-title" style="font-size: large; color: white; background-color: orange; text-align: center">Project Purpose</div>
                <div class="panel-body">
                    <ul></ul>
                    <ul>
                        This project is created for learning purposes and to show the programming skills of back-end and front-end design in software development.
                    </ul>
                    <ul>
                        Available functions are: create user and permissions group, add new item to the stock, and create sale order with managing and updating stock numbers accordingly.
                    </ul>
                </div>
            </div>
        </div>

        <div style="color: white">---</div>

        <div class="rounded-div" style="font-size: medium; height: 470px; width: 250px">
            <div class="panel panel-default">
                <div class="panel-heading div-title" style="font-size: large; color: white; background-color: blue; text-align: center">Technologies Used</div>
                <div class="panel-body">
                    <ul></ul>
                    <ul><b>Back-End</b>
                        <li>Java 8.0</li>
                        <li>Spring Boot 2.4 (Data JPA Repository)</li>
                        <li>Log4J</li>
                        <li>JUnit</li>
                    </ul>
                    <ul><b>Database</b>
                        <li>PostgreSQL 10.0</li>
                        <li>AWS RDS</li>
                    </ul>
                    <ul><b>Front-End</b>
                        <li>Angular 11.0</li>
                        <li>Bootstrap 4.5 and CSS</li>
                    </ul>
                    <ul><b>DevOps</b>
                        <li>Jenkins</li>
                        <li>AWS S3</li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="color: white">---</div>

        <div class="rounded-div" style="font-size: medium; height: 470px; width: 250px">
            <div class="panel panel-default">
                <div class="panel-heading div-title" style="font-size: large; color: white; background-color: green; text-align: center">Future Development</div>
                <div class="panel-body">
                    <ul></ul>
                    <ul>
                        <li>Add customer/client database</li>
                        <li>Add payment functionality</li>
                        <li>Add credit and debit memo</li>
                        <li>Add follow for pick-up sold items from warehouse</li>
                        <li>Add Vendor database</li>
                        <li>Add reports for financial and administrative purposes</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div style="color: white">---</div>

        <div class="rounded-div" style="font-size: medium; height: 470px; width: 300px">
            <div class="panel panel-default">
                <div class="panel-heading div-title" style="font-size: large; color: white; background-color: brown; text-align: center">Credentials</div>
                <div class="panel-body">
                    <ul></ul>
                    <ul><b>Full Access (System Admin)</b>
                        <li>Username: user1@electronics.com</li>
                        <li>Password: 1111</li>
                    </ul>
                    <ul><b>Some Access (Sales Rep)</b>
                        <li>Username: user2@electronics.com</li>
                        <li>Password: 2222</li>
                    </ul>
                    <ul><b>Less Access (Stock Clerk)</b>
                        <li>Username: user3@electronics.com</li>
                        <li>Password: 3333</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
